.sapMLIBContent span , #container-treetable---View1--editDialog-icon ,#container-treetable---View1--createDialog-icon{
    color: #1E90FF;
}
#container-treetable---View1--Tree-header{
    color: #6ab04c;
}

#container-treetable---View1--createDialog-title-inner{
    color: #2f3542;
}
#container-treetable---View1--Tree-header {
    padding-left: 53px;
    color: #6ab04c;
}